/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:1px;
	margin:0px;
	width:100%;
	
}
.main-container{
	display:flex;
    justify-content:center;
	margin:5px;
}
.col1, .col2, .col3{
	background-color:white;
	margin:5px;
	border-radius:15px;
	padding:5px;
}
.col3 > img{
	width:50%;
	margin:5px;
	
}
.col2{
	width:40%;
	height:40%
}
.col1{
	width:30%;
	height:20%
}
.col3{
	width:30%;
	display:flex;
	flex-direction:column;
	align-items:center;
	height:60%;
}